body{
    text-align: center;
    background-color: rgb(222, 222, 222);
}
main{
    background-color: white;
    width: 50%;
    margin: 5px auto;
    padding: 30px;
    box-shadow: 5px;
    border-radius: 1%;
    justify-items: center;
}
table{
    border: 1px solid black;
}
td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}